<html>
	<head>
		<title>Kortebroeken app</title>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="static/polls/style.css" />
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">

	</head>

	<body>
		<h1>Kan ik een korte broek dragen?</h1>
		<h3>Locatie: {{location}}</h3>
		<div id='weer-data'>
			<p class='pull-left'>{{regen}}mm</p>
			<p class='pull-right'>{{graden}}°C</p>
			<div class='clearfloat'></div>
		</div>
		{%if shorts == "Nee"%}
			<p id='nee' class='antwoord'>{{shorts}}</p>
		{%else%}
			<p id='ja' class='antwoord'>{{shorts}}</p>
		{%endif%}
		<div class='google-calender-login'>
			<p>To see if you have a business appointment, sign in to Google calender</p>
			<div class="g-signin2" data-onsuccess="onSignIn"></div>
		</div>
	</body>
</html>