<html>
<head>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="static/polls/style.css" />

</head>

<body>

<h1>Kan ik een korte broek dragen?</h1>
<h3>Locatie: Rotterdam</h3>
<div id='weer-data'>
	<img src='static/polls/images/cloudy_and_sun_icon.png'>
	<p>{{graden}}°C</p>
</div>
{% if graden > 23 and regen < 5 %}
	<p id='ja' class='antwoord'>JA</p>
{% else %}
	<p id='nee' class='antwoord'>NEE</p>
{% endif %}
</body>
</html>